*{
    margin: 0 ;
}

body {
    background-color: powderblue;
    display: block;
    margin: auto;
    height: 50vw;
    justify-items: center;
    padding: 10px;
}
h1 {
    color: rgb(0, 0, 0);
}

#Agenda {
    display:block;
    border-radius: 220px;
    background-color: rgb(161, 255, 227);
    width: fit-content;
    padding: 20px;
    text-align: center;
}

#Cadastro {
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(175, 255, 231);
}

#Link {
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(175, 255, 231); 
}